body {
  margin-left: 1.0787486515641855vh;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  overflow: auto;
}

form {
  display: none;
}

#formularios {
  margin: 0 auto 100px 3vh;
}

#contenidoPrincipal {
  margin-top: 3vh;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; /* Opcional: ajusta el ancho según tus necesidades */
  background-color: #f7f7f7; /* Opcional: añade un color de fondo */
  padding: 1%; /* Opcional: añade relleno al footer */
}

#copyright {
  background-color: #f8f8f8;
  padding-top: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  display: flex;
  align-items: center;
}

#txtTituloLibro {
  margin-bottom: 10vh;
  margin-right: 4vh;
}

#btnAceptarBuscarLibro {
  margin-bottom: 10vh;
  margin-right: 1vh;
}

.dashboard-sideBar-ct {
  overflow: auto;
}
